
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: #f8fafc;
    line-height: 1.6;
}

header {
    background: #111827;
    padding: 20px 8%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

nav h2 {
    color: #38bdf8;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
    flex-wrap: wrap;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: #38bdf8;
}

section {
    padding: 70px 8%;
    text-align: center;
}

.hero {
    min-height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.hero h1 {
    font-size: 42px;
    color: #38bdf8;
}

.hero h2 {
    font-size: 24px;
}

.hero p {
    max-width: 600px;
}

.btn {
    background: #38bdf8;
    color: #0f172a;
    padding: 12px 25px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
}

.btn:hover {
    background: #7dd3fc;
}

section h2 {
    margin-bottom: 25px;
    color: #38bdf8;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.skills span {
    background: #1e293b;
    padding: 12px 22px;
    border-radius: 8px;
    border: 1px solid #334155;
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.project-card {
    background: #1e293b;
    padding: 25px;
    border-radius: 10px;
    width: 300px;
    border: 1px solid #334155;
}

.project-card h3 {
    color: #38bdf8;
    margin-bottom: 10px;
}

.project-card a {
    display: inline-block;
    margin-top: 15px;
    color: #38bdf8;
}

#contact a {
    color: #38bdf8;
}

footer {
    text-align: center;
    padding: 20px;
    background: #111827;
}

@media (max-width: 600px) {
    nav {
        flex-direction: column;
    }

    nav ul {
        justify-content: center;
        gap: 12px;
    }

    .hero h1 {
        font-size: 30px;
    }

    .hero h2 {
        font-size: 20px;
    }

    section {
        padding: 50px 5%;
    }

    .project-card {
        width: 100%;
    }
}